body {
    margin: 0;
    background-color: black;
    font-family: 'Press Start 2P';font-size: 30px;
}

.Container{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
     
}



.comandos {
    grid-gap: 20px;
    display: grid;
}

img {
    margin-bottom: 20px ;
    width: 220px;
    height: 150px;
}


a    {
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

a:visited   {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}